
/*div.mat-dialog-content {*/
/*  text-align: center;*/

/*}*/

/*div.mat-dialog-actions {*/
/*  justify-content: center;*/
/*}*/

.yes-btn{
  background-color: #6b956a
;
}

.no-btn{
  background-color: #6b956a
;

}
.confirmationDialog {
  margin:20px;
}

