.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div.form-wrapper.mat-form-field {
  width: 75%;
  margin-top: 25px;
}
.registerTitle {
  margin-top: 20px;
}

.registerPageWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
