<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="over">
    <mat-nav-list>
      <p>MyShroom Menu</p>
      <mat-list-item (click)="goToLandingPage()"><mat-icon>home</mat-icon>Home</mat-list-item>
      <mat-list-item (click)="openPredictWindow()"><mat-icon></mat-icon>Check my mushroom</mat-list-item>
      <mat-list-item (click)="openCreatePost()">Share your own Findings</mat-list-item>
      <mat-list-item (click)="signOut()"><mat-icon>exit_to_app</mat-icon>Sign out</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <mat-toolbar class="landingPageToolbar">
      <button id="menu-button" mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
    </mat-toolbar>
    <div class="card">

      <div class="floating-action-button">+</div>

<!--      <div class="profile-picture">-->
<!--        <img class="profile-picture-outer-radius" [src]="img" alt="">-->
<!--      </div>-->

      <div class="infobox" *ngIf="myUser">
        <p class="infobox-username" *ngIf="myUser.firstName && myUser.lastName">{{myUser.firstName+ " " + myUser.lastName}}</p>
        <p class="infobox-username" *ngIf="myUser.userName">{{myUser.userName}}</p>
        <p class="infobox-username" *ngIf="myUser.rank">{{myUser.rank!}}</p>
      </div>
<!--        <div>-->
<!--          <p class="align-left" *ngIf="following > 100">Following:</p><p class="align-right">{{following}}</p>-->
<!--        </div>-->
    </div>
        <mat-list *ngIf="this.posts && this.posts.length > 0" >
          <app-post *ngFor="let post of this.posts!" [post]="post"></app-post>
        </mat-list>

  </mat-sidenav-content>
</mat-sidenav-container>
