::ng-deep.mat-dialog-container {
  padding: 0;
  overflow: hidden;
  height: 100%;
  margin: 0;
  width:100%;
  border-radius: 30px;
  background-color: rgba(143, 180, 143, 0.95);
}

.matSliderWrapper {
  display: flex;
  flex-direction: column;
}

.postInfoWindow {
  padding: 0;
}

.dialog-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.map-dialog-content {
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.map-dialog-container {
  height: 600px;
  width : auto;
  margin: 20px;
}
.kmRadius-form {
  display: flex;
  flex-direction:column;

  width: 300px;
}

.mapInputs {
  display: flex;
  margin-right: 10px;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.genus-form {
  width: 300px;
  margin-top: 30px;
}

.genus-form mat-form-field {
  width: 100%;
}

.map-wrapper {
  width: 100%;
  height: 500px;
  margin-top: 20px;
}

.matSlider {
  display: flex;
  flex-direction: column;
}
