<div class="map_dialog_container">

  <form>
    <mat-form-field appearance="legacy">
      <mat-label>Search after Genus</mat-label>
      <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto" (change)="resetMapValues($event)">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)='showPostsOnMap($event.option.value)'  >
        <mat-option *ngFor="let post of this.filteredGenuses! | async" [value]="post">
          {{post.mushroomType}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <div class="map-wrapper">
    <app-map [markers]="this.markers!" [options]="this.options!"> </app-map>
  </div>
</div>
