<!--<button mat-button type="button" (click)="openPredictWindow()">check my mushroom</button>-->
  <mat-grid-list class="items_list"cols="2" rowHeight="100px">

  <mat-grid-tile class="img-wrapper" colspan="2" rowspan="2" >
    <mat-chip> MyShroom</mat-chip>
        <img class="cover-img" src="../../../assets/mush_cover.jpeg"/>
  </mat-grid-tile>

  <mat-grid-tile colspan="2" rowspan="4" id="myMapGridTile">
    <app-map  [options]="this.myOptions" [width]="this.width" [height]="405" [markers]="this.markers!" (dblclick)="this.openMapDialog()"></app-map>
  </mat-grid-tile>

  <mat-grid-tile  class="post_tile" colspan="2" rowspan="5" *ngFor="let post of this.posts ">
    <app-post [post]="post" ></app-post>
  </mat-grid-tile>

  <mat-grid-tile colspan="2" rowspan="1">
    <button mat-button type="button"  (click)="signOut()">Sign Out</button>
  </mat-grid-tile>

  </mat-grid-list>

