*{
  margin : 0;
  padding: 0;
  box-sizing: border-box;
}
.map-post-container{
  display: flex;
  justify-content: center;
}

#mapContainer {
  border-radius: 5px;

}
.cover-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin: 0;
  padding:0
}
.img-wrapper {
margin-top: 0;
  padding-top:0 ;
}

.matGridList{
  height:100vh;
}
app-post {
  width: 65%;
  height: 98%;
  padding:10px;
}
app-map{
  margin-top: 0;
  padding-top: 0;
  height: 100%;
}
.post_tile {
  padding:0;
  background-color:  #2d1756;
  display: flex;
  align-items: stretch;
}
.post_tile.div.mat-grid-tile-content{
  width: 100%;
}
button{
  background-color: midnightblue;
  color:white;

}

mat-chip {
  position: absolute;

}
.items_list {
  background-color: #150b28;
}


mat-sidenav {
  display: flex;
  flex-direction: column;
  width: 400px;
  position: fixed
}

.bottomList {
  align-self: flex-end;
}
.landingPageToolbar {
  background-color:  #2d1756;
}
.myMapGridTile {
  margin-top:0;
  margin-bottom:0;

}
