*{
  margin : 0;
  padding: 0;
  box-sizing: border-box;
}
.map-post-container{
  display: flex;
  justify-content: center;
}

#mapContainer {
  border-radius: 5px;

}

.cover-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin: 0;
  padding:0
}
.img-wrapper {
margin-top: 0;
  padding-top:0 ;
}

.matGridList{
  height:100vh;
}
app-post {
  width: 45%;
  height:80%;
  padding-bottom:10px;
}
app-map{
  margin-top: 0;
  padding-top: 0;
  height: 100%;
}
.post_tile {
  display: flex;
  justify-content: center;
  padding:0;
  background-color: transparent;
  align-items: center;
}
.post_tile.div.mat-grid-tile-content{
  width: 100%;
  padding-top: 10px;
}
button{
  background-color:  rgb(143,188,143);
  color:black;
}


.coverImg {
  height: 130px;
  background-image: url("src/assets/cover_img_full.jpg");
  background-position: 0 50%;
  background-repeat: no-repeat;
  overflow-x: hidden;
  background-size: cover;
}

mat-chip {
  position: absolute;

}
.items_list {
  background-color:#331a00;
}


mat-sidenav {
  display: flex;
  flex-direction: column;
  width: 400px;
  position: fixed
}

.bottomList {
  align-self: flex-end;
}
.landingPageToolbar {
  background-color:transparent;
}
.myMapGridTile {
  margin-top:0;
  margin-bottom:0;

}
