.post-wrapper {
  height: 100%;
  width: auto;
}

.post_action {
  margin-right: 5px;
  padding:0;
  align-self: flex-end;
}

.post_date {
  align-self: flex-end;
}

.post_action.mat-icon-button {
  margin:0 0 0 0;
}
.postMatCard {
  width : 100%;
  margin:0;
  padding:0;
  box-sizing: border-box;
  border-radius: 10px;
}
.header_wrapper {

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgb(143,188,143);
  justify-content: space-between;
  margin-left: 0;
  padding-left: 0;
  width: 100%;


}

.title_subtitle_wrapper {

  padding-left: 0;
  padding-top: 10px;
  margin-left: 0;
  flex-grow:1;
}

.options_and_date_wrapper {
  display:flex;
  padding-right: 5px;
  align-items: center;
  /*align-self: flex-end;*/
  flex-direction: column;
  flex-grow: inherit;
}
.mat-card-subtitle {
}

.post_image {
  width: 100%;
  height: 400px;

  object-fit: cover;
  object-position: top;
  margin-bottom: 5px;

}
.post_description {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.5;
  flex:1;

}
.post_card_content {
  max-height:100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post_description {
  align-self: flex-start;
  flex-grow: 1;
  padding: 0 0 7px 5px ;
}
