
/*.app-post.dialog_post {*/
/*  height: auto;*/
/*  width: 100%;*/
/*}*/

.post-dialog-wrapper {
  border-radius: 20px;
  display: flex;
  margin: 0;
  height: fit-content;
  flex-direction: column;
  align-items: stretch;
  width: 550px;
  padding: 0;
  overflow-y:visible;
}

.dialog_post {
margin-top : 10px;
}
