<div class="createPostWrapper">
  <div class="createPostHeading">
    <h1 mat-dialog-title class="createPostDialogTitle">{{this.dialogTitle}}</h1>
  <button mat-icon-button class="createPostExitBtn"  (click)="this.dialogRef.close()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content class="createPostContentWrapper">
<form class="first-form" [formGroup]="createPostFormGroup" >
  <mat-form-field appearance="outline" class="firstFormField">
    <mat-label>Your Post's Title</mat-label>
    <input matInput placeholder="Enter your desired title" formControlName="postTitle">
    <mat-hint>Type a suggestive title</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Mushroom Type</mat-label>
    <mat-select formControlName="genus">
      <mat-option *ngFor="let mushroomType of this.mushroomTypes" [value]="mushroomType">{{mushroomType}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>A short Description</mat-label>
    <input matInput placeholder="Enter an according description" formControlName="description">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Post Type</mat-label>
    <mat-select formControlName="type">
      <mat-option *ngFor="let type of this.types" [value]="type">{{type}}</mat-option>
    </mat-select>
  </mat-form-field>
  <ngx-dropzone class="creatPostDropZone" [accept]="'image/*'" (change)="selectFile($event)" >
    <ngx-dropzone-label>
      <h2>Drag file here</h2>
      <p>or</p>
      <h2>Click to upload from your local files</h2>
    </ngx-dropzone-label>
    <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview"  *ngIf="currentImg != null" [file]="this.currentImg!" [removable]="true" (removed)="onRemove(this.currentImg)">
    </ngx-dropzone-image-preview>
  </ngx-dropzone>

  <mat-dialog-actions>
    <button mat-stroked-button type="submit" class="addButton" color="primary" (click)="createOrUpdatePost()">{{this.buttonText}}</button>
    <button mat-stroked-button color="primary"  type="button" (click)="clearForm()">Clear</button>
  </mat-dialog-actions>
</form>

  <div class="createPostMapWrapper">
    <mat-label>Select the location of your finding</mat-label>
    <google-map #map (mapClick)="setLocation($event)" [options]="this.myOptions">
      <map-marker #myCreatePostMarker="mapMarker" *ngIf="this.location != undefined" [position]="this.location"
      ></map-marker>

    </google-map>
  </div>
</div>
</div>
