<div class="avatarsDialogWrapper">
  <div mat-dialog-title >
  <h1>  Choose an avatar for your profile</h1>
    <button mat-icon-button class="createPostExitBtn"  (click)="this.dialogRef.close()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content class="dialogContent">

  <div class="avatarGridListWrapper">
      <div  class="avatarImgWrapper"  *ngFor="let avatar of avatars; let i=index"
            (click)="selectAvatar(i)"
            [ngClass]="{ 'selected': i ===  this.selectedAvatar}">
        <img [src]="avatar" alt="Avatar" class="avatarImage"/>
      </div>
  </div>

  <button mat-button class="confirmSelectionBtn" (click)="confirmSelection()">confirm selection</button>
</mat-dialog-content>
</div>
