
::ng-deep.mat-dialog-container{
  padding:10px;
  overflow: hidden;
  height: 100%;
  margin: 10px;
  width:fit-content;
  border-radius: 30px;
  background-color: rgba(143, 180, 143, 0.95);
}


.avatarGridListWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 30px;
}

.avatarImgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  margin:5px 10px 5px 10px;
  border: 1px solid ;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.avatarImgWrapper.selected {
  background-color: blue;
  transform: scale(1.25);
}
.avatarImgWrapper:hover {
  transform: scale(1.25);
}


.avatarImage {
  height: 100%;
  width: 100%;
  margin:0;
  padding: 0;
  border-radius: 50%;



}
.dialogContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-flow: row wrap;
  height: 100%;
  width: 100%;
}
.confirmSelectionBtn {
  align-self: center;
  margin-top: 20px;
}


.mat-dialog-title {
  display: flex;
  justify-content: space-between;
}
