::ng-deep.mat-dialog-container {
    padding: 0;
    overflow: hidden;
    height: 100%;
    margin: 0;
    width: fit-content;
    border-radius: 30px;
    background-color: rgba(143, 180, 143, 0.95);
  }

.predictorDialogWrapper {
  display: flex;
  flex-direction: column;
}

.dropFileLabel {
  border: none;
}

predictButtonContent {
  display: flex;
  flex-direction: row;
}

button.div.mat-spinner {
  height: 10px;
  width: 100%;
}

.predictorDialogHeading {
  padding: 10px 10px 10px 10px ;
  display: flex;
  justify-content: space-between;
}

.predictorDropZone {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  min-height:182px;
  padding: 0;
  margin:0;
}
.predictorDialogContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 600px;
  height: 500px;
  margin-top: 20px;

}
.predictorImgPreview {
  display: flex;
  justify-content: center;

  align-items: stretch;
}
.prediction {
  align-items: center;

}
.predictionContainer {
  height:auto;
  width : 100%;
}
.predictionContent {
  flex-direction: column;
  width: 100%;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;

}
.predictionListWrapper {
  width: 96%;
  overflow: auto;

}
.predictionList {
  width: 100%;
  flex-direction: column;
}

.displayImg {
  width: auto;
  height: 100%;
  object-fit: cover;
  margin: 0 5px 0 5px;
}

.scrollable-grid-container {
  min-width: 100%;
  overflow-x: auto;
  }
