
<h1 mat-dialog-title>Insert file here</h1>
<mat-dialog-content>
  <label>Choose an image</label>

    <ngx-dropzone [accept]="'image/*'" (change)="selectFile($event)">
      <ngx-dropzone-label>
        <h2>Drag file here</h2>
        <p>or</p>
        <h2>Click to upload from your local files</h2>
      </ngx-dropzone-label>
      <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview"  *ngIf="currentImg != null" [file]="this.currentImg!" [removable]="true" (removed)="onRemove(this.currentImg)">
      </ngx-dropzone-image-preview>
    </ngx-dropzone>


  <div mat-dialog-actions align="center">
  <button mat-raised-button [disabled]="currentImg == undefined || this.predicted" (click)="predict()">
    <div class="predictButtonContent"><mat-spinner *ngIf="this.loading"></mat-spinner>
    Predict
    </div>
  </button>
  </div>
  <mat-list>
    <mat-list-item *ngFor="let pred of this.prediction!| keyvalue:mySortingFunction">
    <p>Genus: <b>{{pred.key}} </b>  and Probability:  <b>{{pred.value}}</b></p></mat-list-item>
  </mat-list>
</mat-dialog-content>

